body:not(.group-members) .shutter-status {
    display: none;
    visibility: hidden;
}

body:not(.group-members) .doc-header-set {
    display: none;
    visibility: hidden;
}

.d-header-icons .d-icon-calendar-check {
    color: green;
}
.d-header-icons .d-icon- {
    color: red;
}

.d-header-icons .icon.doc {
    width: auto;
    gap: 0.5em;
    margin-inline: 1em;
    //font-size: 1.5em;
    color: grey;
    
    
    & .d-icon {
        width: 1em;
    }
}

.d-header-icons {
    display: flex;
    //justify-content: space-between;
    gap: -5px; /* Smaller value brings items closer */
}
