body:not(.group-members) .header-buttons .shutter-status,
body:not(.group-members) .header-buttons .doc-header-set {
    display: none;
    visibility: hidden;
}

.header-buttons .d-icon-calendar-check {
    color: green;
}

.header-buttons .d-icon-calendar-alt {
    color: red;
}

.header-buttons .doc-header-set {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-inline: 1em;
    color: grey;

    .d-icon {
        width: 1em;
    }
}

.header-buttons {
    display: flex;
    align-items: center;
    margin: -5px;
}
